<div class="row">

    <div *ngIf="isLoading" class="loading-spiner">
        <img class="progressP" src="{{websiteRoot}}/{{imgurl}}/loader-elipses.gif" />
    </div>

    <div class="col-sm-12">

        <h2 class="mamTitle">
            <img src="{{websiteRoot}}/{{imgurl}}/mam-icon.png" alt="" class="mamTitleImg" />
            Sales reps
        </h2>

        <form name="repsTerritoryForm" [formGroup]="repsTerritoryForm" style="height: auto; width: auto; overflow: auto; margin-bottom:0;">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="media-assets">
                    <div class="main-tab-content">
                        <div class="tab-header">
                            <h5>Sales reps commission</h5>
                        </div>

                        <div class="tabContent">

                            <div class="tabContentHeader">
                                <div class="tabContentHeaderTitle">
                                    <a ng-click="AddIssueDate();">
                                        <h6>Sales reps commission</h6>
                                    </a>
                                </div>
                                <div class="search-container">
                                    <input type="text" class="form-control" placeholder="Search sales reps commission"
                                        (keyup)='updateFilter($event)' />
                                    <img src="{{websiteRoot}}/{{imgurl}}/search-icon.png" alt="" />
                                </div>
                            </div>

                            <div class="tabContentArea">

                                <div class="row">

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="Reps" class="asteriskRequired">Reps</label>
                                            <a href="javascript:void(0);" title="Add New Reps" class="add-link" (click)="openRepsModal()">
                                                <img src="{{websiteRoot}}/{{imgurl}}/add-icon.png" alt="" />
                                            </a>
                                            <div class="clearfix"></div>

                                            <ng-select id="RepId" formControlName="RepId" placeholder="Select reps" [items]="repsList" bindLabel="Name" bindValue="RepId">
                                            </ng-select>

                                            <div *ngIf="isValidRepId"
                                                class="text-danger">
                                                <span *ngIf="repsTerritoryForm.controls['RepId'].hasError('required') ">
                                                    Reps is required.
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="Territory" class="asteriskRequired">Territories </label>
                                            <a href="javascript:void(0);" title="Add territory Reps" class="add-link"
                                                (click)="openTerritoryModal()">
                                                <img src="{{websiteRoot}}/{{imgurl}}/add-icon.png" alt="" />
                                            </a>
                                            <div class="clearfix"></div>

                                            <ng-select id="TerritoryId" formControlName="TerritoryId"
                                            placeholder="Select territory" [items]="territoryList" bindLabel="Name"
                                            bindValue="TerritoryId">
                                            </ng-select>

                                            <div *ngIf="isValidTerritoryId"
                                                class="text-danger">
                                                <span *ngIf="repsTerritoryForm.controls['TerritoryId'].hasError('required') ">
                                                    Territory is required.
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="Commission" class="asteriskRequired">Commission</label>
                                            <input type="text" class="form-control" formControlName="Commission"
                                                placeholder="Enter commission" pattern="\d+(\.\d{0,8})?">
                                            <div *ngIf="isValidCommission"
                                                class="text-danger">
                                                <span *ngIf="repsTerritoryForm.controls['Commission'].hasError('required') ">
                                                    Commission is required.
                                                </span>
                                                <span *ngIf="repsTerritoryForm.controls['Commission'].hasError('pattern')">
                                                    Please enter only numeric(8 decimal point) value
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <button type="submit" class="blueBtn createBtn" id="btnRepsTerritory"
                                                (click)="saveRepsTerritory()">Create</button>&nbsp;
                                            <button type="button" class="orangeBtn" (click)="clearRepsTerritory()" id="btnCancelRepsTerritory">Cancel</button>
                                        </div>
                                    </div>

                                    <div class="col-md-9">
                                        <div class="table-responsive custom-table">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Rep</th>
                                                        <th>Territory</th>
                                                        <th>Commission</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let rep of repsTerritoryList">
                                                        <td>{{rep.RepName}}</td>
                                                        <td>{{rep.TerritoryName}}</td>
                                                        <td>{{rep.Commission}}</td>
                                                        <td>
                                                            <a (click)="editRepsTerritory(rep)" title="Edit">
                                                                <img src="{{websiteRoot}}/{{imgurl}}/edit-icon.png" alt="edit" />
                                                            </a>
                                                            <a (click)="deleteRepsTerritory(rep)" title="Delete">
                                                                <img src="{{websiteRoot}}/{{imgurl}}/delete-icon.png"
                                                                    alt="delete" />
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr *ngIf="repsTerritoryList.length == 0">
                                                        <td colspan="4" class="settextcenter">no record is found</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>

    </div>
</div>


<!--Reps Modal Html-->
<form name="repsForm" [formGroup]="repsForm">
    <div class="modal fade bs-example-modal-sm mampopup in" id="repsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Reps</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="RepName" class="asteriskRequired">Name</label>
                        <input type="text" class="form-control" formControlName="RepName" placeholder="Enter rep name">
                        <div *ngIf="isValidRepName"
                            class="text-danger">
                            <span *ngIf="repsForm.controls['RepName'].hasError('required') ">
                                Rep name is required.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="btnreps" class="blueBtn" (click)="saveReps()">Create</button>
                    <button type="button" class="blueBtn" data-dismiss="modal" (click)="closeRepsModal()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>


<!--Territory Modal Html-->
<form name="territoryForm" [formGroup]="territoryForm">
    <div>
        <div class="modal fade bs-example-modal-sm mampopup in" id="TerritoryModal" tabindex="-1" role="dialog"
            aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Territory</h3>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="TerritoryName" class="asteriskRequired">Name</label>
                            <input type="text" class="form-control" formControlName="TerritoryName" placeholder="Enter territory name">
                            <div *ngIf="isValidTerritoryName"
                                class="text-danger">
                                <span *ngIf="territoryForm.controls['TerritoryName'].hasError('required') ">
                                    Territory name is required.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="btnTerritory" class="blueBtn" (click)="saveTerritory()">Create</button>
                        <button type="button" class="blueBtn" data-dismiss="modal" (click)="closeTerritoryModal()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>