.setImageIcon {
    height: 15px;
    width: 15px;
}

.input-container {
    position: relative;
}

.input-container:after {
    position: absolute;
    right: 0px;
    top: 0px;
    content: '%';
}

.settextcenter {
    text-align: center;
}

.customInputText {
    border: 0 !important;
    border-bottom: 2px solid #dfe2e5 !important;
    border-radius: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    padding: 5px 0 !important;
}

#btnCancelRepsTerritory {
    display: none;
}

